/*Universal Styles*/
body {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 3em;
}

h2 {
    color:#7490b5;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

main {
    width:75%;
    margin: 0 auto;
}

/*Index Styles*/


.homeBlock {
    margin-top: 150px;
}
.homeBlock img {
    float: left;
    width: 50%;
}
.navHome {
    text-decoration: none;
    font-size: 3em;
    list-style-type: none;
    color: #404040;
    padding-top: 8%;
}

.navHome a {
    text-decoration: none;
    color: #404040;
    font-weight:lighter;
}

.navHome a:hover {
    color: #7490b5;
    font-style: italic;
}

/* navigation styles*/

.navGrid {
    display: flex;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    border-width: 0;
    border-style: solid;
    margin: 0;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2em;
    margin: 0;
   
}

.navigation li{
    float: left;
    padding: 1em;
}

.selected {
    color: #7490b5;
}

.deselected {
    color: #808080;
}

.navigation li:hover{
    font-style: italic;
}

.navigation li a{
text-decoration: none;
color: inherit;
}

.navGrid img{
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    height: 80px;
    width: auto;

}
/*other styles*/
.flexGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-end;
}

.flexBox {
    width: 30%;
    margin: 10px;
    height: auto;
    padding:5px;
}

.flexBox img{
    width: 100%;
    height: auto;
    margin: 0;
    padding:0;
}

.flexBox h4 {
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    margin: 0;
    padding: 0;
}

.flexBox p {
    font-size: 1em;
    font-style: italic;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.textBox {
    background-color: #7490b5;
    padding: 10px;
}


/*projects styles*/
.projectBoxWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 25px 50px;
}
.projectBox {
    padding:10px;
}


h3, .boxHeadline {
    color:#7490b5;
    font-size: 1.5em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.projectDescription {
    color:#7490b5;
    font-size: 1em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.boxText {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.boxText a {
    color: #7490b5;
}

.boxText a:hover {
    font-style: italic;
}

.images img{
    height: 300px;
    margin: 5px;
}
.images {
    margin: 10px;
    padding: 0;
}

.images figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    padding: 0;
}


/*about styles*/
#headshot {
    float: left;
    width: 30%;
    margin: 0 50px 10px 10px;
}

.contactBox {
    background-color: #7490b5;
    color: white;
    font-style: italic;
    padding:10px;
    margin: 10px;
}

.contactBox p {
    margin: 0;
    padding: 0;
}
.contactBox a{
    color: white;
}
.contactBox a:hover {
    font-style: italic;
    color: #404040;
}

.aboutPage {
    font-size: 1.25em;
}

/* media queries*/
@media screen and (max-width: 1200px){
    .navHome{
        font-size: 2em;
    }
    .images img{
        height: 225px;
        margin: 5px;
    }
    #headshot {
        margin-right: 25px;
    }
}

@media screen and (max-width: 900px) {
   .navHome {
    font-size: 1.5em;
   }
   .images img{
    height: 200px;
    margin: 5px;
}
.projectBoxWrapper {
    display: block;
    margin: 0 0 10px 10px;
}
.navigation {
    font-size:1.5em;
}

#headshot {
   float: none;
   width: 100%;
}

.contactBox {
    margin: 0;
}
.flexGrid {
    display: block;
}
.flexBox {
    width: 100%;
}
}

@media screen and (max-width: 600px){
    .homeBlock img {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .homeBlock {
        margin: 0;

    }
    .navHome{
        padding: 10px 50px 10px 50px;
        font-size: 2em;
        text-align: center;
        background-color: #7490b5;
        margin: 0;
    }

    .navHome a{
        color: white;
    }

    .navHome a:hover {
        color: #808080;
    }

   .navigation {
        text-align: left;
        display: block;
    }

    .navigation li {
        float:none;
        padding: 2px;
    }
    .images img {
        display: block;
        width: 100%;
        height: auto;
    }
  
  
}
