/*Universal Styles*/


/*Index Styles*/
.homePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homeBlock {
    display: flex;
    width: 50%;

}


/*contact styles*/

/*projects styles*/


/*about styles*/