/*Universal Styles*/


/*Index Styles*/
.homePage {
    display: flex;
    justify-content: center;

}

.homeBlock img {
    width: 50%;
}
.navHome {
    text-decoration: none;
    font-size: 3em;
    list-style-type: none;
    text-align: left;
}



/*contact styles*/

/*projects styles*/


/*about styles*/